body{
    background-color: #00000099;
    background-image: url("../images/background1.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    min-height: 95vh;
    min-width: 95vw;
    border-style: groove;
    overflow: hidden;
    margin: auto;
}

#scoreText{
    font-size: 1.3rem;
    padding: 1em;
    color: aqua;
}

#ship{
    position:absolute;
    top: calc(92vh - 71px);
}

.projectiles{
    position: absolute;
    bottom: calc(5vh - 71px);;
    left: 35px; 
    /* visibility: hidden; */
}

#arsenal{
    min-height: 95vh;
    min-width: 95vw
}

.enemyShips{
    position: absolute;
    top: 10vh;
}

#enemies{
    min-height: 95vh;
    min-width: 95vw
}